# Dependencies
node_modules/

# Build outputs
dist/
build/
target/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.env

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
htmlcov/
.coverage

# Compressed
*.zip
*.gz
*.tar
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst

# Testing
.mypy_cache/
.pytest_cache/
.nyc_output/
coverage/

# Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Gradle
.gradle/
build/

# Temporary
*.tmp
*.temp
*.bak

# Environment specific
.env.local
.env.*
!.env.example

# Binary files
*.exe
*.dll
*.so
*.a
*.o
*.obj
*.out
*.app
*.bin
*.jar
*.war
*.class

# Documentation
docs/_build/
*.rst~

# Database
*.db
*.sqlite
*.sqlite3

# Cache
.cache/
.caches/
.node_cache/

# Lock files
package-lock.json
yarn.lock
Gemfile.lock
Pipfile.lock
poetry.lock

# Vim
*.un~
Session.vim

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio
.vs/
*.VC.db
*.VC.VC.opendb
*.user
*.userosscache
*.sln.docstates
[ip]b.LICENSE.txt
test-results/

# Xcode
*.xccheckout
Pods/
*.xcodeproj
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM/

# Android
/bin/
/gen/
/libs/
/obj/
/proguard/
/apk/
/local.properties
/.cxx/
/.externalNativeBuild/
/cmake/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.manifest
install_manifest.txt
compile_commands.json

# Qt
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
*.moc.cpp
*.qm
*.prl
*.pri

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.prof
vendor/

# Rust
target/
Cargo.lock

# Julia
julia-*/
.JuliaUserPrefs.toml

# Zig
zig-cache/
zig-out/

# Docker
.dockerenv
Dockerfile.*

# Bazel
bazel-*/

# Temporary folders
tmp/
temp/
cache/

# Backup files
*.backup
*.bak
*.old
*.orig
*~

# Sensitive files
config/secrets.yml
secrets.json
.credentials
.aws/credentials
.id_dsa
.id_rsa
.ssh/

# Browser extensions
*.crx
*.xpi
*.safariextz

# Unity
Library/
Temp/
Obj/
Build/
Logs/
*.unityproj
*.userprefs
sysinfo.txt
UnityLockFile
*.pidb.meta
*.pdb.meta
*.asmdef.meta
*.rsp.meta
*.svcinfo.meta
*.meta

# Unreal Engine
Saved/
Binaries/
Intermediate/
*. uproject
*. uproject -user
*. uproject -userosscache
*. uproject -userprefs
*. uproject -userosscache
*. uproject -userprefs

# Minecraft
.run/
.packix/
mcmod.info
config.json

# Adobe
*.swp
*.swo
*.tmp
*~

# FFmpeg
*.ts
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.m4v
*.webm

# ImageMagick
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.webm
*.tiff
*.svg
*.ico

# Audio/Video
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.wma
*.m4a
*.mp4
*.avi
*.mov
*.mkv
*.wmv
*.flv
*.webm

# Fonts
*.ttf
*.otf
*.woff
*.woff2
*.eot

# Archives
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.iso
*.dmg
*.pkg
*.deb
*.rpm
*.msi

# Executables
*.exe
*.exe~
*.dll
*.so
*.dylib
*.app
*.out
*.bin
*.run
*.msi

# Package managers
node_modules/
bower_components/
jspm_packages/
web_modules/
.npm/
.yarn/
.pnpm-store/
.jspm/

# Virtual environments
venv/
env/
ENV/
.venv/
.env/
virtualenv/
pip-log.txt
pip-delete-this-directory.txt

# Testing
.rspec
.coverage
/coverage
/lib/bundler/man/
*.pdb
*.seed
*.pid
*.gid
*.lint
*.gem
*.bundle/
.build/
.stest/
.rubocop.yml
.rubocop
.rubocop_todo.yml

# Documentation
doc/api/
docs/_build/
*.tmp
*.tmp.html
api.txt

# CI
.circleci/
.travis.yml
.github/
.gitlab-ci.yml
.drone.yml
.semaphore/
.codeclimate.yml
.wercker/
.snapcraft.yaml

# Development
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Generated
generated/
.autotools/
.autodetect/
.cargo/
.config/
.containers/
.cpan/
.cpanplus/
.cpanm/
.dist/
.eggs/
.hg/
.hgignore
.hgrc
.hgsub
.hgsubstate
.hgtags
.jar/
.jenkins/
.kitchen/
.lynx_cookies
.m2/
.mvn/
.netbeans/
.nfs/
.ninja_deps
.ninja_log
.node_repl_history
.npmignore
.nrepl-port
.oci/
.opam/
.php_cs
.php_cs.cache
.pip/
.plenv-version
.project
.projectile
.py-repl/
.pytest_cache/
.python-version
.qmake.cache
.qmake.stash
.raku-rpm-macros
.rbenv-version
.rds-temp-files/
.rebar
.rebar3
.release/
.rultor.yml
.rvmrc
.sass-cache/
.scala_dependencies
.scalafmt-cache/
.sconsign.dblite
.scrapy
.semver
.serverless/
.shell.pre-oh-my-zsh
.shipped_sources
.shrc
.sqlite_history
.stack-work/
.stylelintcache
.sublime-project
.sublime-workspace
.svn/
.svnignore
.swcrc
.swift-version
.swiftpm/
.swo
.swp
.syntaxcache
.tachikoma.yml
.tags
.tar
.target
.terraform/
.terraform.lock.hcl
.terraform.tfstate
.terraform.tfstate.backup
.testbss.log
.testcover.opts
.tex
.thumbs
.tm_properties
.tmp/
.tmuxomatic
.tox/
.transients_purge.log
.trash/
.trashes
.travis.yml
.travis/
.travis/config.yml
.travis/job_stages
.travis/pushover.key
.travis/ssh_known_hosts
.travis/travis.rb
.travis/travis.yml
.travis/travis_config.yml
.travis/travis_env.sh
.travis/travis_fold.sh
.travis/travis_retry.sh
.travis/travis_setup.sh
.travis/travis_test.sh
.travis/travis_wait.sh
.travis/user_env.sh
.travis/vm_config.yml
.travis/vm_env.sh
.travis/vm_setup.sh
.travis/vm_test.sh
.travis/vm_wait.sh
.travisci/
.travis_config.yml
.travis_env.sh
.travis_fold.sh
.travis_retry.sh
.travis_setup.sh
.travis_test.sh
.travis_wait.sh
.travisci_config.yml
.travisci_env.sh
.travisci_fold.sh
.travisci_retry.sh
.travisci_setup.sh
.travisci_test.sh
.travisci_wait.sh
.travis_config
.travis_env
.travis_fold
.travis_retry
.travis_setup
.travis_test
.travis_wait
.travisci_config
.travisci_env
.travisci_fold
.travisci_retry
.travisci_setup
.travisci_test
.travisci_wait
.travisci
.travis
.travis.yml
.travis_config.yml
.travis_env.sh
.travis_fold.sh
.travis_retry.sh
.travis_setup.sh
.travis_test.sh
.travis_wait.sh
.travisci/
.travis/
.travis/config.yml
.travis/job_stages
.travis/pushover.key
.travis/ssh_known_hosts
.travis/travis.rb
.travis/travis.yml
.travis/travis_config.yml
.travis/travis_env.sh
.travis/travis_fold.sh
.travis/travis_retry.sh
.travis/travis_setup.sh
.travis/travis_test.sh
.travis/travis_wait.sh
.travis/user_env.sh
.travis/vm_config.yml
.travis/vm_env.sh
.travis/vm_setup.sh
.travis/vm_test.sh
.travis/vm_wait.sh
.travisci_config.yml
.travisci_env.sh
.travisci_fold.sh
.travisci_retry.sh
.travisci_setup.sh
.travisci_test.sh
.travisci_wait.sh
.travis_config
.travis_env
.travis_fold
.travis_retry
.travis_setup
.travis_test
.travis_wait
.travisci_config
.travisci_env
.travisci_fold
.travisci_retry
.travisci_setup
.travisci_test
.travisci_wait
.travisci
.travis
.travis.yml
.travis_config.yml
.travis_env.sh
.travis_fold.sh
.travis_retry.sh
.travis_setup.sh
.travis_test.sh
.travis_wait.sh
.travisci/
.travis/
.travis/config.yml
.travis/job_stages
.travis/pushover.key
.travis/ssh_known_hosts
.travis/travis.rb
.travis/travis.yml
.travis/travis_config.yml
.travis/travis_env.sh
.travis/travis_fold.sh
.travis/travis_retry.sh
.travis/travis_setup.sh
.travis/travis_test.sh
.travis/travis_wait.sh
.travis/user_env.sh
.travis/vm_config.yml
.travis/vm_env.sh
.travis/vm_setup.sh
.travis/vm_test.sh
.travis/vm_wait.sh
.travisci_config.yml
.travisci_env.sh
.travisci_fold.sh
.travisci_retry.sh
.travisci_setup.sh
.travisci_test.sh
.travisci_wait.sh
.travis_config
.travis_env
.travis_fold
.travis_retry
.travis_setup
.travisci_config
.travisci_env
.travisci_fold
.travisci_retry
.travisci_setup
.travisci_test
.travisci_wait
.travisci
.travis
.travis.yml
.travis_config.yml
.travis_env.sh
.travis_fold.sh
.travis_retry.sh
.travis_setup.sh
.travis_test.sh
.travis_wait.sh
.travisci/
.travis/
.travis/config.yml
.travis/job_stages
.travis/pushover.key
.travis/ssh_known_hosts
.travis/travis.rb
.travis/travis.yml
.travis/travis_config.yml
.travis/travis_env.sh
.travis/travis_fold.sh
.travis/travis_retry.sh
.travis/travis_setup.sh
.travis/travis_test.sh
.travis/travis_wait.sh
.travis/user_env.sh
.travis/vm_config.yml
.travis/vm_env.sh
.travis/vm_setup.sh
.travis/vm_test.sh
.travis/vm_wait.sh
.travisci_config.yml
.travisci_env.sh
.travisci_fold.sh
.travisci_retry.sh
.travisci_setup.sh
.travisci_test.sh
.travisci_wait.sh
.travis_config
.travis_env
.travis_fold
.travis_retry
.travis_setup
.travis_test
.travis_wait
.travisci_config
.travisci_env
.travisci_fold
.travisci_retry
.travisci_setup
.travisci_test
.travisci_wait
.travisci
.travis
.travis.yml
.travis_config.yml
.travis_env.sh
.travis_fold.sh
.travis_retry.sh
.travis_setup.sh
.travis_test.sh
.travis_wait.sh
.travisci/
.travis/
.travis/config.yml
.travis/job_stages
.travis/pushover.key
.travis/ssh_known_hosts
.travis/travis.rb
.travis/travis.yml
.travis/travis_config.yml
.travis/travis_env.sh
.travis/travis_fold.sh
.travis/travis_retry.sh
.travis/travis_setup.sh
.travis/travis_test.sh
.travis/travis_wait.sh
.travis/user_env.sh
.travis/vm_config.yml
.travis/vm_env.sh
.travis/vm_setup.sh
.travis/vm_test.sh
.travis/vm_wait.sh
.travisci_config.yml
.travisci_env.sh
.travisci_fold.sh
.travisci_retry.sh
.travisci_setup.sh
.travisci_test.sh
.travisci_wait.sh
.travis_config
.travis_env
.travis_fold
.travis_retry
.travis_setup
.travis_test
.travis_wait
.travisci_config
.travisci_env
.travisci_fold
.travisci_retry
.travisci_setup
.travisci_test
.travisci_wait
.travisci
.travis
.travis.yml
.travis_config.yml
.travis_env.sh
.travis_fold.sh
.travis_retry.sh
.travis_setup.sh
.travis_test.sh
.travis_wait.sh
.travisci/
.travis/
.travis/config.yml
.travis/job_stages
.travis/pushover.key
.travis/ssh_known_hosts
.travis/travis.rb
.travis/travis.yml
.travis/travis_config.yml
.travis/travis_env.sh
.travis/travis_fold.sh
.travis/travis_retry.sh
.travis/travis_setup.sh
.travis/travis_test.sh
.travis/travis_wait.sh
.travis/user_env.sh
.travis/vm_config.yml
.travis/vm_env.sh
.travis/vm_setup.sh
.travis/vm_test.sh
.travis/vm_wait.sh
.travisci_config.yml
.travisci_env.sh
.travisci_fold.sh
.travisci_retry.sh
.travisci_setup.sh
.travisci_test.sh
.travisci_wait.sh
.travis_config
.travis_env
.travis_fold
.travis_retry
.travis_setup
.travis_test
.travis_wait
.travisci_config
.travisci_env
.travisci_fold
.travisci_retry
.travisci_setup
.travisci_test
.travisci_wait
.travisci
.travis
.travis.yml
.travis_config.yml
.travis_env.sh
.travis_fold.sh
.travis_retry.sh
.travis_setup.sh
.travis_test.sh
.travis_wait.sh
.travisci/
.travis/
.travis/config.yml
.travis/job_stages
.travis/pushover.key
.travis/ssh_known_hosts
.travis/travis.rb
.travis/travis.yml
.travis/travis_config.yml
.travis/travis_env.sh
.travis/travis_fold.sh
.travis/travis_retry.sh
.travis/travis_setup.sh
.travis/travis_test.sh
.travis/travis_wait.sh
.travis/user_env.sh
.travis/vm_config.yml
.travis/vm_env.sh
.travis/vm_setup.sh
.travis/vm_test.sh
.travis/vm_wait.sh
.travisci_config.yml
.travisci_env.sh
.travisci_fold.sh
.travisci_retry.sh
.travisci_setup.sh
.travisci_test.sh
.travisci_wait.sh
.travis_config
.travis_env
.travis_fold
.travis_retry
.travis_setup
.travis_test
.travis_wait
.travisci_config
.travisci_env
.travisci_fold
.travisci_retry
.travisci_setup
.travisci_test
.travisci_wait
.travisci
.travis
.travis.yml
.travis_config.yml
.travis_env.sh
.travis_fold.sh
.travis_retry.sh
.travis_setup.sh
.travis_test.sh
.travis_wait.sh
.travisci/
.travis/
.travis/config.yml
.travis/job_stages
.travis/pushover.key
.travis/ssh_known_hosts
.travis/travis.rb
.travis/travis.yml
.travis/travis_config.yml
.travis/travis_env.sh
.travis/travis_fold.sh
.travis/travis_retry.sh
.travis/travis_setup.sh
.travis/travis_test.sh
.travis/travis_wait.sh
.travis/user_env.sh
.travis/vm_config.yml
.travis/vm_env.sh
.travis/vm_setup.sh
.travis/vm_test.sh
.travis/vm_wait.sh
.travisci_config.yml
.travisci_env.sh
.travisci_fold.sh
.travisci_retry.sh
.travisci_setup.sh
.travisci_test.sh
.travisci_wait.sh
.travis_config
.travis_env
.travis_fold
.travis_retry
.travis_setup
.travis_test
.travis_wait
.travisci_config
.travisci_env
.travisci_fold
.travisci_retry
.travisci_setup
.travisci_test
.travisci_wait
.travisci
.travis
.travis.yml
.travis_config.yml
.travis_env.sh
.travis_fold.sh
.travis_retry.sh
.travis_setup.sh
.travis_test.sh
.travis_wait.sh
.travisci/
.travis/
.travis/config.yml
.travis/job_stages
.travis/pushover.key
.travis/ssh_known_hosts
.travis/travis.rb
.travis/travis.yml
.travis/travis_config.yml
.travis/travis_env.sh
.travis/travis_fold.sh
.travis/travis_retry.sh
.travis/travis_setup.sh
.travis/travis_test.sh
.travis/travis_wait.sh
.travis/user_env.sh
.travis/vm_config.yml
.travis/vm_env.sh
.travis/vm_setup.sh
.travis/vm_test.sh
.travis/vm_wait.sh
.travisci_config.yml
.travisci_env.sh
.travisci_fold.sh
.travisci_retry.sh
.travisci_setup.sh
.travisci_test.sh
.travisci_wait.sh
.travis_config
.travis_env
.travis_fold
.travis_retry
.travis_setup
.travis_test
.travis_wait
.travisci_config
.travisci_env
.travisci_fold
.travisci_retry
.travisci_setup
.travisci_test
.travisci_wait
.travisci
.travis
.travis.yml
.travis_config.yml
.travis_env.sh
.travis_fold.sh
.travis_retry.sh
.travis_setup.sh
.travis_test.sh
.travis_wait.sh
.travisci/
.travis/
.travis/config.yml
.travis/job_stages
.travis/pushover.key
.travis/ssh_known_hosts
.travis/travis......